ItaliaPizza/ItaliaPizzaClient/Connected Services/ItaliaPizzaServer/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logic" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="producto" nillable="true" type="q1:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoYaRegistrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoYaRegistradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductoYaRegistradoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerListaProductosResult" nillable="true" type="q2:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarStockProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarStockProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarStockProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarioDeProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarioDeProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="InventarioDeProductosResult" nillable="true" type="q3:ArrayOfInventarioDeProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInventarioDeProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInventarioDeProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerInventarioDeProductoResult" nillable="true" type="q4:InventarioDeProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q5:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="usuarios" nillable="true" type="q6:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="usuarios" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarClientesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioYaRegistrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioYaRegistradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioYaRegistradoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerListaUsuariosResult" nillable="true" type="q8:ArrayOfEmpleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleados" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEmpleadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleados" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="proveedor" nillable="true" type="q9:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerListaProveedorResult" nillable="true" type="q10:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="nuevoNombreCompañia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevoNombreContacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevoTelefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaCiudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevoEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaCategoriaProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompañiaYaExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompañia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompañiaYaExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompañiaYaExistenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
        <xs:element minOccurs="0" name="domicilio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:decimal" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idProductos" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionPedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="RecuperarInformacionPedidosResult" nillable="true" type="q12:ArrayOfPedidos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoDePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pedidoId" type="xs:int" />
        <xs:element minOccurs="0" name="nuevoEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoDePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarEstadoDePedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="RecuperarInformacionProductosResult" nillable="true" type="q13:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
        <xs:element minOccurs="0" name="nombreCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domicilio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:decimal" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idProductos" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarIdsProductosDePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarIdsProductosDePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecuperarIdsProductosDePedidoResult" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="RecuperarProductoPorIdResult" nillable="true" type="q16:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarIdsProductosDePedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarIdsProductosDePedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecuperarIdsProductosDePedidosResult" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="insumo" nillable="true" type="q18:Insumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarInsumoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsumoYaRegistrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsumoYaRegistradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsumoYaRegistradoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaInsumos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaInsumosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerListaInsumosResult" nillable="true" type="q19:ArrayOfInsumos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInsumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarInsumoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInsumo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoInsumo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidadDeEmpaque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unidadDeMedida" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarInsumoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarStockInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInsumo" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarStockInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarStockInsumoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarioDeInsumos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarioDeInsumosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="InventarioDeInsumosResult" nillable="true" type="q20:ArrayOfInventarioDelInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInventarioDeInsumo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInsumo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInventarioDeInsumoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerInventarioDeInsumoResult" nillable="true" type="q21:InventarioDelInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="receta" nillable="true" type="q22:Recetas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarRecetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaYaRegistrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecetaYaRegistradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecetaYaRegistradoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaReceta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="ObtenerListaRecetaResult" nillable="true" type="q23:ArrayOfRecetas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReceta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRecetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReceta" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionPreparación" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRecetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoCorteDeCaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaCorteDeCaja" type="xs:dateTime" />
        <xs:element minOccurs="0" name="totalIngresos" type="xs:double" />
        <xs:element minOccurs="0" name="dineroRestante" type="xs:double" />
        <xs:element minOccurs="0" name="turno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoCorteDeCajaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionDeCortesDeCaja">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInformacionDeCortesDeCajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="RecuperarInformacionDeCortesDeCajaResult" nillable="true" type="q24:ArrayOfCorteDeCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>